---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
		
		
            {% if site.author.Research_Interests %}
                <h3 class="title">Research Interests</h3>
				{% for work in site.author.Research_Interests %}
					<ul>
						<li>
								{% if work.description %}
									<h4>{{ work.description }}</h4>
								{% endif %}
						</li>
					</ul>
				{% endfor %}
            {% endif %}	
			
			
			{% if site.author.educationHistory %}
                <h3 class="title ">Education Background</h3>
				{% for education in site.author.educationHistory %}
					<ul>
						<li>
							{% if education.description %}
								<h4>{{ education.description }}</h4>
							{% endif %}
						</li>
					</ul>
				{% endfor %}
            {% endif %}
		
		
			{% if site.author.projectsHistory %}
                <h3 class="title">Project Experience</h3>
				{% for work in site.author.projectsHistory %}
					{% if work.title %}
					<ul>
						<li><h4>{{ work.title }}</h4></li>
					{% endif %}
					</ul>
					<ul>
						{% if work.description %}
							<h4>{{ work.description }}</h4>
						{% endif %}
						{% if work.des %}
							<h4>{{ work.des }}</h4>
						{% endif %}
						{% if work.desc %}
							<h4>{{ work.desc }}</h4>
						{% endif %}
						{% if work.descr %}
							<h4>{{ work.descr }}</h4>
						{% endif %}
					</ul>
				{% endfor %}
            {% endif %}	
			
			
			{% if site.author.Published_Research %}
                <h3 class="title">Published Research</h3>
				{% for work in site.author.Published_Research %}
					<ul>
						{% if work.description %}
							<li><h4>{{ work.description }}</h4></li>
						{% endif %}
					</ul>
				{% endfor %}
			{% endif %}
			
			
			{% if site.author.Honors_Achievements %}
                <h3 class="title">Honors and Achievements</h3>

                    {% for work in site.author.Honors_Achievements %}
						<ul>
							<li>
								{% if work.description %}
									<h4>{{ work.description }}</h4>
								{% endif %}
							</li>
						</ul>
                    {% endfor %}
            {% endif %}	
			
			
			{% if site.author.Summary_Abilities %}
                <h3 class="title">Summary of Abilities</h3>
                    {% for work in site.author.Summary_Abilities %}
						<ul>
							<li>
								{% if work.description %}
									<h4>{{ work.description }}</h4>
								{% endif %}
							</li>
						</ul>
                    {% endfor %}
            {% endif %}
			
            
        </div>
        <div class="col-md-4">
            <div class="deviter"></div>
            <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
            <div class="grid-block">
                <iframe src="https://www.google.com/maps/embed/v1/place?q={{ site.author.city }}&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</div>
